.carousel-container-ofertas {
    width: 100% !important;
    max-width: 100% !important;
	display: flex;
}
.my-carousel-ofertas {
	position: relative;
	overflow: hidden;
	height: 20rem;
}
.img-zoom-in-ofertas{
	width: 100%;
	height: 98%
}
.slide-ofertas {
    flex: 0 0 100%;
    box-sizing: border-box;
    position: absolute;
    transform: translateX(100%);
}
.slide-ofertas.active {
	display: block;
	opacity: 1;
	transform: translateX(0);
}
.slide-ofertas.prev,
.slide-ofertas.next {
	opacity: 0;
}
.slide-ofertas.slide-in {
    animation: slide-in 1s forwards;
    display: block;
}

.slide-ofertas.slide-out {
    animation: slide-out 1s forwards;
    display: block;
}
@keyframes slide-in {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}

@keyframes slide-out {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.container-gti-ofertas {
    display: flex;
    justify-content: center;
    align-items: center;
	height: 18rem !important;
	.gimage-ofertas{
		width: 100% !important;
		height: 100% !important;
	}
	
}
.box-h1-ofertas{
	font-size: 2.8rem !important;
}
.ov-btn-grow-skew-ofertas {
	background: #1a1a1a;
	color: white;
	border: 1px solid black ;
	padding: 16px 20px;
	border-radius: 13px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	height: 2rem;
    align-items: center;
    display: flex;
    width: 6.5rem;
    text-decoration: none !important;
}
.ov-btn-grow-skew-ofertas:hover {
	color: #1a1a1a;
	border: 1px solid white;
	cursor: pointer;
}

.slider-nav-ofertas {
	display: flex;
	justify-content: center;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
}
.nav-dot-ofertas{
	margin-right: .3rem;
	width: .3rem;
    height: .3rem;
    border: none;
    border-radius: 10px;
    background-color: orange;
	padding: 7px !important;
}

.nav-dot-ofertas:hover{
	cursor: pointer;
}
.nav-dot-ofertas.active-dot {
	background-color: turquoise !important;
  }
.arrow {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 165, 0, 0.5);  // Color de fondo naranja semi-transparente
    cursor: pointer;
    color: white;  // Asegúrate de que este color contraste con el color de fondo
    font-size: 2rem;  // Ajusta este valor según sea necesario
    text-align: center;
    line-height: 45px;  // Asegúrate de que este valor sea igual a la altura de las flechas
    z-index: 2;  // Asegúrate de que este valor sea mayor que el z-index de las imágenes
	border-radius: 50%;
}

.arrow-left {
    left: 10px;
}

.arrow-left::before {
    content: "❮";  // Carácter de flecha hacia la izquierda
}

.arrow-right {
    right: 10px;
}

.arrow-right::before {
    content: "❯";  // Carácter de flecha hacia la derecha
}

@media screen and (max-width: 400px) {
    .container-gti-ofertas {
		display: flex;
		height: 100% !important;
		margin-left: -10px;
		margin-right: -10px;
	}
	.img-zoom-in-ofertas{
		width: 100%;
		animation-name: zoomIn;
		animation-duration: 1.3s;
		animation-timing-function: ease-out;
	  }
	  .container-gti-ofertas .gimage-ofertas{
		height: 100% !important;
		width: 100% !important;
	  }
}
